<h1 class="page-header">Doctores</h1>

<div class="table-responsive " id="doctorList" style="height:500px;">
    <table class="table table-hover table-striped ">
    <div class="form-group">
                <div class="icon-addon addon-sm">
                 <label for="search-secure" class="fa fa-search fa-fw icons-color" rel="tooltip" ></label>
                    <input type="text" placeholder="Buscar" class="form-control search-query search-patient" id="search-secure">
                    
                </div>
               
            </div>
     <tr *ngFor="let doctor of doctortList" class="active">
           <div class="row td-patient-margin">
            <td class="td-patient td-patient-name ">{{ doctor.firstName + " " + doctor.lastName }}</td>
            </div>
            <div class="row td-patient-identity td-patient-margin">
             <label>especialidad:</label>
             <label>{{ doctor.specialtyId }}</label>
            </div>
        </tr>
    
         
    
    </table>
</div>
