body,
html {
    width: 100%;
    height: 100%;

    background: no-repeat center center;
    background-size: cover;
}
.page-header{
    
    border-bottom: 1px solid #5bc0de;
}

.bar-secure-home{
    
    margin-bottom: 0;
    width: 60%;
    margin: 0 0 0 250px;
    min-width: 1050px;
}

#h4 .subtitle-menu{
    margin-left:16px;
}