<h1 class="page-header">Pacientes</h1>

<div class="table-responsive " id="patientList" style="height:500px;">
    <table class="table table-hover table-striped ">
    <div class="form-group">
                <div class="icon-addon addon-sm">
                 <label for="search-secure" class="fa fa-search fa-fw icons-color" rel="tooltip" title="email"></label>
                    <input type="text" placeholder="Buscar" class="form-control search-query search-patient" id="search-secure">
                    
                </div>
               
            </div>
     <tr *ngFor="let patient of patientList" class="active">
           <div class="row td-patient-margin">
            <td class="td-patient td-patient-name ">{{ patient.patientName }}</td>
            </div>
            <div class="row td-patient-identity td-patient-margin">
             <label>identificación:</label>
             <label>{{ patient.patientId }}</label>
            </div>
        </tr>
    
         
    
    </table>
</div>
