<form class="form-signin-registrer " id="form-signin-registrer"  data-toggle="validator" method="POST"  action="#" role="form"   style ="height:565px;width:330px;">
 
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="login-form-1">
    <div >
        <h4>Información de contacto</h4>
    </div>
   
     <div class="form-group-register">
    <div class="createuser">
        ¿Crear usuario?
    </div>
    <div class="checkbox">
     <label><input type="checkbox" value=""></label>
   </div>
   </div>
    <div class="form-group" >
        <input id="signupName" name="signupName" required placeholder="Nombre(s)" type="text"  maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}"  data-error="nombre inválido">
    </div>
    <div class="form-group">
        <input id="signupSurnames" placeholder="Apellidos" type="text"  maxlength="100" class="form-control" required
               [(ngModel)]="registrationUser.surnames" [ngModelOptions]="{standalone: true}" data-error="apellido inválido" >
    </div>
    <div class="form-group">
        <input id="signupIdentity" placeholder="Identificación" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.identity" [ngModelOptions]="{standalone: true}" required>        
    </div>
    <div class="form-group">
    <input type="tel" id="phone" [(ngModel)]="registrationUser.phone" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="form-group">
                <input  type="email" class="form-control" id="signupEmail"  data-error="dirección de correo inválida" required
                          placeholder="Correo electrónico" [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">       
    </div>
    <div class="form-group">
        <input id="signupPassword" type="password" maxlength="25" class="form-control" required
               placeholder="Contraseña - al menos 8 caracteres" length="40" [(ngModel)]="registrationUser.password"
               [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <input id="signupCompany" placeholder="Compañía" type="text" maxlength="100" class="form-control"
               [(ngModel)]="registrationUser.company" [ngModelOptions]="{standalone: true}">
    </div>
    
    <div >
        <h4>Información de paciente</h4>
    </div>
    <div class="form-group">
        <input  type="datepicker" class="form-control" placeholder="Fecha de nacimiento" required id="birthdate">   
    </div>
    <div class="form-group">
      <input  disabled placeholder="Género" type="text" maxlength="50" class="form-control">
     </div>
     <div class="form-group">
     
      <label class="radio-inline">
      <input type="radio" name="optradio" required>Masculino
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio" required>Femenino
    </label>
   
    </div>
    <a >
    <button type="button" class="btn btn-info-otros btn-block-otros" data-toggle="collapse" data-parent="#accordion" data-target="#demo">Otros datos</button>
     </a>
  <div id="demo" class="collapse estilo3">
    <div class="panel-body">
     <div class="form-group">
        <input id="signupCivil" placeholder="Estado civil" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.civil" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <input id="signupEmpleo" placeholder="Empleo" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.job" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <input id="signupInfSeguro" placeholder="Información de seguro" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.insurance" [ngModelOptions]="{standalone: true}">
    </div>
    <div >
        <h4>Información de médica</h4>
    </div>
        <div class="form-group">
        <input id="signupTypeSkin" placeholder="Tipo de piel" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.skin" [ngModelOptions]="{standalone: true}">
        </div>
         <div class="form-group">
            <input id="signupWeight" placeholder="Peso" type="number" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.weight" [ngModelOptions]="{standalone: true}">
          </div>
         <div class="form-group">
            <input id="signupHeight" placeholder="Altura" type="number" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.height" [ngModelOptions]="{standalone: true}">
          </div>
        <div class="form-group">
            <input id="signupBlood" placeholder="Sangre" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.blood" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
          </div>
    </div>
  </div>
    
    <div >
        <button (click)="onRegister()" id="signupSubmit" type="submit" class="btn btn-info btn-margin-create btn-block-form">
            Crear
        </button>
    </div>
    <hr>
    <p><a class="a2" [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
 </div>
</form>

