<h2 class="page-header">Paciente</h2>

 <div class="wizard-container">

<div class="card wizard-card" data-color="blue" id="wizardProfile">

        <ul class="nav nav-tabs">
            <li class="active li-active "><a data-toggle="tab"  href="#accesstoken">Usuario</a></li>
            <li class="li-active"><a data-toggle="tab" href="#idtoken" >Otros Datos</a></li>
        </ul>

<div class="tab-content">

    <div id="accesstoken" class="tab-pane fade in active">
      
    <form class="form-signin-registrer-patient " id="form-signin-registrer-patient"  data-toggle="validator" method="POST"  action="#" role="form"   style ="height:565px;width:330px;">
      <div class="row">
      <div class="col-md-12">
      
      
      <div class="login-form-1">
      <h4>Información de contacto</h4>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>

     <div class="form-group-register">
    <div class="createuser-patient">
        ¿Crear usuario?
    </div>
    <div class="checkbox">
     <label><input type="checkbox" value=""></label>
   </div>
    
   </div>
    <div class="form-group" >
        <input id="signupName" name="signupName" required placeholder="Nombre(s)" type="text"  maxlength="50" class="form-control"
                 data-error="nombre inválido" [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="form-group">
        <input id="signupSurnames" placeholder="Apellidos" type="text"  maxlength="100" class="form-control" required
                data-error="apellido inválido" [(ngModel)]="registrationUser.surnames" [ngModelOptions]="{standalone: true}">     
    </div>
    <div class="form-group">
        <input id="signupIdentity" placeholder="Identificación" type="text" maxlength="50" class="form-control"
               required [(ngModel)]="registrationUser.identity" [ngModelOptions]="{standalone: true}">     
    </div>
    <div class="form-group">
    <input type="tel" id="phone"  required>
    </div>
    <div class="form-group">
                <input  type="email" class="form-control" id="signupEmail"  data-error="dirección de correo inválida" required
                          placeholder="Correo electrónico" [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">           
    </div>
    <div class="form-group">
        <input id="signupPassword" type="password" maxlength="25" class="form-control" required
               placeholder="Contraseña - al menos 8 caracteres" length="40" [(ngModel)]="registrationUser.password" [ngModelOptions]="{standalone: true}">     
    </div>
    <div class="form-group">
    </div>
    
    </div>
    </div> 
     
     <div class="col-md-12 col-sm-offset-12">
     
      <div class="login-form-1" style="margin-top: -220px;display: block;">
    <div >
        <h4 style="margin-bottom: 23px;">Información de paciente</h4>
    </div>
    <div class="form-group">
        <input  type="datepicker" class="form-control" placeholder="Fecha de nacimiento" required id="birthdate"
        [(ngModel)]="registrationUser.birthdate" [ngModelOptions]="{standalone: true}">       
    </div>
    <div class="form-group">
      <input  disabled placeholder="Género" type="text" maxlength="50" class="form-control">
     </div>
     <div class="form-group">
     
      <label class="radio-inline">
      <input type="radio" name="optradio" required>Masculino
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio" required>Femenino
    </label>
    </div>
     <div class="form-group">
        <input id="signupCivil" placeholder="Estado civil" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.civil" [ngModelOptions]="{standalone: true}"> 
    </div>
    <div class="form-group">
        <input id="signupInfSeguro" placeholder="Información de seguro" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.insurance" [ngModelOptions]="{standalone: true}"> 
    </div>
    <div class="form-group">
    </div>
    
    </div>
    </div> 
 
</div>

</form>           
</div>

    
     
    <div id="idtoken" class="tab-pane fade">
    <form class="form-signin-registrer-patient " id="form-signin-registrer"  data-toggle="validator" method="POST"  action="#" role="form"   style ="height:565px;width:330px;">
 
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="login-form-1">
   
     <div class="form-group-register" style="width: 350px;">
  <div id="demo" class=" estilo3">
    <div class="panel-body">
    
     <div class="form-group">
        <input id="signupCompany" placeholder="Compañía" type="text" maxlength="100" class="form-control"
                [(ngModel)]="registrationUser.company" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <input id="signupEmpleo" placeholder="Empleo" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.job" [ngModelOptions]="{standalone: true}">
    </div>
    
    <div >
        <h4>Información de médica</h4>
    </div>
        <div class="form-group">
        <input id="signupTypeSkin" placeholder="Tipo de piel" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.skin" [ngModelOptions]="{standalone: true}">
        </div>
         <div class="form-group">
            <input id="signupWeight" placeholder="Peso" type="number" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.weight" [ngModelOptions]="{standalone: true}">
          </div>
         <div class="form-group">
            <input id="signupHeight" placeholder="Altura" type="number" maxlength="50" class="form-control"
                [(ngModel)]="registrationUser.height" [ngModelOptions]="{standalone: true}">
          </div>
        <div class="form-group">
            <input id="signupBlood" placeholder="Sangre" type="text" maxlength="50" class="form-control"
               [(ngModel)]="registrationUser.blood" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
          </div>
    </div>
  </div>
    
 </div>
 </div>

</form>
</div>
                     <div class="wizard-footer height-wizard" style="margin-top: -280px;">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-info btn-wd btn-sm' style="margin-left:-350px;" name='next' value='Siguiente' />
                                <input (click)="onRegister()" type='button'  class='btn btn-finish btn-fill btn-info btn-wd btn-sm' style="margin-left:-350px;" id="finish" name='finish' value='Finalizar' />

                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previo' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
    
      
 </div>
 </div>  
