<h3 class="page-header">Citas</h3>
<div class="table-responsive" id="lista-citas" style="height:500px;">
 <table class="table table-hover table-striped table-hover">
    
    <div  class="form-group col-md-4 col-md-offset-1 div-citas "  *ngFor="let cita of citasList" >
    <div class="row row-1-citas">
    <div class="col-sm-2">
      <label class= "label-cita label-margin-cita-hora" >{{ cita.status }}</label>
      </div>
      <div class="col-sm-2 col-sm-offset-6">
        <label  class= "label-cita label-margin-cita-hora" >{{ cita.startTime | date:'HH:mma' }}</label>
    </div>
    </div>
    <div class="row">
        <label class= "label-name-patient label-margin-cita" >{{ cita.patient.firstName }}</label>
    </div> 
    <div class="row">
        <label  class = "label-margin-cita">{{ cita.doctor.firstName }}</label>
    </div>
    <div class="row">
        <div class="btn-group btn-citas-margin">
        <button type="button" class="btn btn-info btn-margin-create btn-citas ">Cancelar</button>
        <button type="button" class="btn btn-info btn-margin-create btn-citas ">En sala</button>
        <button type="button" class="btn btn-info btn-margin-create  btn-citas">Pasar a consulta</button>
    </div>
</div> 
    </div> 
        </table>
    
</div>
