<h3 class="page-header">Citas</h3>
<div class="table-responsive">
 <table class="table table-hover table-striped">
    
    <div class="form-group col-md-4 col-md-offset-1 div-citas "  *ngFor="let company of companyList.companys" >
    <div class="row">
        <label class= "label-cita label-margin-cita" >{{ company.name }}</label>
    </div> 
    <div class="row">
        <label class = "label-margin-cita">{{ company.description }}</label>
    </div>
    <div class="row">
        <div class="btn-group btn-citas-margin">
        <button type="button" class="btn btn-info btn-margin-create btn-citas ">Cancelar</button>
        <button type="button" class="btn btn-info btn-margin-create btn-citas ">En sala</button>
        <button type="button" class="btn btn-info btn-margin-create  btn-citas">Pasar a consulta</button>
    </div>
</div> 
    </div> 
        </table>
    
</div>
