<form class="form-signin" method="POST" action="#" role="form">
    <div >
        <h4>Olvidé mi contraseña</h4>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="login-form-1">
    <div class="form-group">
                <input  type="email" class="form-control" id="signupEmail"  data-error="dirección de correo inválida" required
                          placeholder="Correo electrónico" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">       
    </div>
    <div >
        <button (click)="onNext()" id="nextPage" type="submit" class="btn btn-info btn-margin-create btn-block-form">Next
        </button>
    </div>

    <hr>
    <p><a [routerLink]="['/home/register']"> <i class="fa fa-fw fa-group"></i> Registrar</a> <a
            [routerLink]="['/home/login']"> <i class="fa fa-fw fa-user"></i> Login</a>
    </p>
    
    
    </div>
</form>
